.login-page {
}

.login-page__alert {
  -fx-fill: transparent;
}

.home-page {
}

.item-tile {
  -fx-background-color: rgb(77, 102, 204);
}

.item-tile__title {
  -fx-fill: WHITE;
}

.modal {
}

.modal__card {
  -fx-padding: 10;
  -fx-background-color: white;
}