variable "do_pub_key" {
  default =
}

variable "do_priv_key" {
  default =
}

variable "do_token" {
  default =
}

variable "email" {
  default =
}

variable "whitelisted_ssh_ips" {
  default =
}

variable "racing-odds-scraper-hostname" {
  default =
}

variable "racing-odds-scraper-pub-ssl-key" {
  default =
}

variable "racing-odds-scraper-priv-ssl-key" {
  default =
}
